body{
    font-family: 'Open Sans', sans-serif;
    color:white;
}

.o-text{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

button{
    border-radius: 40px;
    padding: .5rem 1rem .5rem 1rem;
    height:fit-content;
    background:#07192D;
    color:white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 3px solid #48526A;
}


 .o-button-focus
  {
  box-shadow: none;
  box-shadow: 0 0 6px 0 #39475C;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F8B747, #FE4F41);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #07192D inset;
  }

  button:disabled,
  button[disabled]{
  border: 3px solid #9FA5AE;
  background-color: #39475C;
  color: white;
}

.o-card{
    border-radius: 20px;
    background: #07192D;
}
.o-card .title{
    font-size:1.4rem;
    height: 1.4rem;
    font-weight: 600;
}

.o-card .sub-title{
    font-size:1.1rem;
}

.o-gradient-text {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FE4F41, #F8B747 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.o-title{
    font-size: 2rem;
    align-items:center;
}

.o-sub-title{
    font-size: 1.2rem;
}

.o-line{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FE4F41, #F8B747 );
    height: 4px;
    margin-left:-7px;
    margin-right:-8px;

}

.o-bar{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FE4F41, #F8B747 );
    height: 40px;
    width:4px;

}


.o-zeus{
    width:400px;
    height: 600px; 
}

.o-icon-outline{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 13px;
    width: 62px;
    text-align: center;

}

.o-header-font{
    width:180px;
    height: 40px;
}

.o-logo{
    width:4rem;
    height: 4rem;
    margin: 0px;
}

.o-chip{
    background:#25354D;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
    height:40px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .o-sm-ml{
       margin-left:40px; 
    }

    .o-tasks-sm{
        background: #07192D;
    }

    .o-card .avatar{
        width:70px;
        height: 70px;
    }

    .o-horizental-seperator{
        background: #4C5C74;
        height: 3px;
        width: 100%;
    }

    .o-sm-button{
        padding-left:40px;
        padding-right:8px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .o-card .avatar{
        width:70px;
        height: 70px;
    }

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
    .o-card-sm-button{
        padding-left:40px;
        padding-right:5px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .o-header-bar{
        width:5px;
        height: 40px; 
    }

    /* o-card logo*/
    .o-card .avatar{
        width:60px;
        height: 60px;
    }
}

/* Extra Extra large devices (Extra large laptops and desktops, 1440px and up) */
@media screen and (min-width: 1440px) {

    .o-header-bar{
        width:5px;
        height: 40px; 
    }

    /* o-card logo*/
    .o-card .avatar{
        width:60px;
        height: 60px;
    }

    
    
}